In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.preprocessing import StandardScaler, FunctionTransformer
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from sklearn.pipeline import Pipeline

from data import process

In [2]:
df = process.Data('train.csv').return_data()

In [3]:
df.head()

,Survived,Age,Fare,Master.,Miss.,Mr.,Mrs.,Other,A_CABIN,B_CABIN,...,class_2,class_3,female,male,C,Q,S,FamilyAboard,IsAlone,InCabin
0,0,22.0,7.2500,0,0,1,0,0,0,0,...,0,1,0,1,0,0,1,1,False,False
1,1,38.0,71.2833,0,0,0,1,0,0,0,...,0,0,1,0,1,0,0,1,False,True
2,1,26.0,7.9250,0,1,0,0,0,0,0,...,0,1,1,0,0,0,1,0,True,False
3,1,35.0,53.1000,0,0,0,1,0,0,0,...,0,0,1,0,0,0,1,1,False,True
4,0,35.0,8.0500,0,0,1,0,0,0,0,...,0,1,0,1,0,0,1,0,True,False

In [4]:
X = df.drop('Survived', axis=1)
y = df['Survived']

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=15144)

In [6]:
rf = RandomForestClassifier(max_depth=5, max_features='auto', n_estimators=500)
rf.fit(X_train, y_train)
rf.score(X_train, y_train)

0.8553370786516854

In [7]:
rf.score(X_test, y_test)

0.8715083798882681

In [8]:
np.mean(cross_val_score(rf, X, y, cv=10))

0.8316692202928158

# Submission

In [9]:
test_data = process.Data('test.csv')
df_test = test_data.return_data()

In [10]:
df_test.head()

,Age,Fare,Master.,Miss.,Mr.,Mrs.,Other,A_CABIN,B_CABIN,C_CABIN,...,class_2,class_3,female,male,C,Q,S,FamilyAboard,IsAlone,InCabin
0,34.5,7.8292,0,0,1,0,0,0,0,0,...,0,1,0,1,0,1,0,0,True,False
1,47.0,7.0000,0,0,0,1,0,0,0,0,...,0,1,1,0,0,0,1,1,False,False
2,62.0,9.6875,0,0,1,0,0,0,0,0,...,1,0,0,1,0,1,0,0,True,False
3,27.0,8.6625,0,0,1,0,0,0,0,0,...,0,1,0,1,0,0,1,0,True,False
4,22.0,12.2875,0,0,0,1,0,0,0,0,...,0,1,1,0,0,0,1,2,False,False

In [11]:
predictions = rf.predict(df_test)

In [12]:
submission = test_data.return_prediction_df(predictions)

In [13]:
submission.to_csv('submission.csv', index=False)