In [101]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler, FunctionTransformer
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

In [102]:
try:
    df = pd.read_csv(r'C:\Users\CodeCave\Documents\DataScience\Titanic_Prediction\train.csv')
except:
    df = pd.read_csv(r'S:\Code\Data Science\Titanic_Prediction\train.csv')

In [104]:
def preprocess_df(df, testing=True):
    
    mean_age_by_gender = df.groupby('Sex').mean()['Age'].to_dict()
    null_age = df.loc[df['Age'].isna(), :].Sex.map(mean_age_by_gender)
    df.loc[null_age.index, 'Age'] = null_age
    df.loc[:, 'InCabin'] = ~df['Cabin'].isna()
    
    scaler = StandardScaler()
    
    feats=['Age', 'Fare']
    
    for feat in feats:
        
        df[feat] = scaler.fit_transform(np.array(df['Age']).reshape(-1,1))
     
    class_dummies = pd.get_dummies(df['Pclass'])
    class_dummies_names = ['class_' + str(x) for x in class_dummies.columns.to_list()]
    df[class_dummies_names] = class_dummies
    df[['female', 'male']] = pd.get_dummies(df['Sex'])
    
    if testing:
        
        df_filtered = df.drop(df[df['Embarked'].isna()].index)
        
    drop_columns = ['PassengerId', 'Sex', 'Ticket', 'Cabin', 'Name', 'Embarked', 'Pclass']
    df_filtered = df_filtered.drop(drop_columns, axis=1)
    
    #if testing:
        
        #df = df.fillna(0)
    
    return df_filtered

In [105]:
df_filtered = preprocess_df(df)
X = df_filtered.drop('Survived', axis=1)
y = df_filtered['Survived']

In [106]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=15144)

In [107]:
rf = RandomForestClassifier(max_depth=None, max_features=2, min_samples_leaf=2,
                                                         min_weight_fraction_leaf=0, n_estimators=200)
rf.fit(X_train, y_train)
rf.score(X_train, y_train)

0.8860759493670886

In [108]:
rf.score(X_test, y_test)

0.7921348314606742

# Submission

In [112]:
df_filtered

,Survived,Age,SibSp,Parch,Fare,InCabin,class_1,class_2,class_3,female,male
0,0,-0.594732,1,0,-0.594732,False,0,0,1,0,1
1,1,0.635319,1,0,0.635319,True,1,0,0,1,0
2,1,-0.287220,0,0,-0.287220,False,0,0,1,1,0
3,1,0.404684,1,0,0.404684,True,1,0,0,1,0
4,0,0.404684,0,0,0.404684,False,0,0,1,0,1
5,0,0.076156,0,0,0.076156,False,0,0,1,0,1
6,0,1.865370,0,0,1.865370,True,1,0,0,0,1
7,0,-2.132296,3,1,-2.132296,False,0,0,1,0,1
8,1,-0.210341,0,2,-0.210341,False,0,0,1,1,0
9,1,-1.209758,1,0,-1.209758,False,0,1,0,1,0
10,1,-1.978540,1,1,-1.978540,True,0,0,1,1,0
11,1,2.172882,0,0,2.172882,True,1,0,0,1,0
12,0,-0.748489,0,0,-0.748489,False,0,0,1,0,1
13,0,0.712197,1,5,0.712197,False,0,0,1,0,1
14,0,-1.209758,0,0,-1.209758,False,0,0,1,1,0
15,1,1.942248,0,0,1.942248,False,0,1,0,1,0
16,0,-2.132296,4,1,-2.132296,False,0,0,1,0,1
17,1,0.076156,0,0,0.076156,False,0,1,0,0,1
18,0,0.097171,1,0,0.097171,False,0,0,1,1,0
19,1,-0.139943,0,0,-0.139943,False,0,0,1,1,0
20,0,0.404684,0,0,0.404684,False,0,1,0,0,1
21,1,0.327806,0,0,0.327806,True,0,1,0,0,1
22,1,-1.132880,0,0,-1.132880,False,0,0,1,1,0
23,1,-0.133463,0,0,-0.133463,True,1,0,0,0,1
24,0,-1.671027,3,1,-1.671027,False,0,0,1,1,0
25,1,0.635319,1,5,0.635319,False,0,0,1,1,0
26,0,0.076156,0,0,0.076156,False,0,0,1,0,1
27,0,-0.825367,3,2,-0.825367,True,1,0,0,0,1
28,1,-0.139943,0,0,-0.139943,False,0,0,1,1,0
29,0,0.076156,0,0,0.076156,False,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
861,0,-0.671610,1,0,-0.671610,False,0,1,0,0,1
862,1,1.404101,0,0,1.404101,True,1,0,0,1,0
863,0,-0.139943,8,2,-0.139943,False,0,0,1,1,0
864,0,-0.440976,0,0,-0.440976,False,0,1,0,0,1
865,1,0.942831,0,0,0.942831,False,0,1,0,1,0
866,1,-0.210341,1,0,-0.210341,False,0,1,0,1,0
867,0,0.097171,0,0,0.097171,True,1,0,0,0,1
868,0,0.076156,0,0,0.076156,False,0,0,1,0,1
869,1,-1.978540,1,1,-1.978540,False,0,0,1,0,1
870,0,-0.287220,0,0,-0.287220,False,0,0,1,0,1
871,1,1.327222,1,1,1.327222,True,1,0,0,1,0
872,0,0.250928,0,0,0.250928,True,1,0,0,0,1
873,0,1.327222,0,0,1.327222,False,0,0,1,0,1
874,1,-0.133463,1,0,-0.133463,False,0,1,0,1,0
875,1,-1.132880,0,0,-1.132880,False,0,0,1,1,0
876,0,-0.748489,0,0,-0.748489,False,0,0,1,0,1
877,0,-0.825367,0,0,-0.825367,False,0,0,1,0,1
878,0,0.076156,0,0,0.076156,False,0,0,1,0,1
879,1,2.019126,0,1,2.019126,True,1,0,0,1,0
880,1,-0.364098,0,1,-0.364098,False,0,1,0,1,0
881,0,0.250928,0,0,0.250928,False,0,0,1,0,1
882,0,-0.594732,0,0,-0.594732,False,0,0,1,1,0
883,0,-0.133463,0,0,-0.133463,False,0,1,0,0,1
884,0,-0.364098,0,0,-0.364098,False,0,0,1,0,1
885,0,0.712197,0,5,0.712197,False,0,0,1,1,0
886,0,-0.210341,0,0,-0.210341,False,0,1,0,0,1
887,1,-0.825367,0,0,-0.825367,True,1,0,0,1,0
888,0,-0.139943,1,2,-0.139943,False,0,0,1,1,0
889,1,-0.287220,0,0,-0.287220,True,1,0,0,0,1
890,0,0.174050,0,0,0.174050,False,0,0,1,0,1

In [134]:
try:
    df = pd.read_csv(r'C:\Users\CodeCave\Documents\DataScience\Titanic_Prediction\test.csv')
except:
    df = pd.read_csv(r'S:\Code\Data Science\Titanic_Prediction\test.csv')

In [135]:
df_filtered = preprocess_df(df, testing=False)
predictions = rf.predict(df_filtered)

In [137]:
df['Survived'] = predictions

In [142]:
try:
    df[['PassengerId', 'Survived']].to_csv(r'C:\Users\CodeCave\Documents\DataScience\Titanic_Prediction\submission.csv', 
                                           index=False)
except:
    df[['PassengerId', 'Survived']].to_csv(r'S:\Code\Data Science\Titanic_Prediction\submission.csv',
                                          index=False)